<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Lama Urbain - {% block title %}The most open itinerary application ever{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <!-- <link rel="stylesheet/less" type="text/css" href="/static/less/style.less"> -->
    <!-- <script>less = { env: 'development', async: true };</script> -->
    <!-- <script src="/static/bower/less/dist/less.min.js"></script> -->
    <!-- <script>less.watch();</script> -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
    </script>
    <![endif]-->
  </head>
  <body>

    <div id="map"></div>

    {% if error %}
    <div id="error">
      <h1>Error</h1>
      <div class="alert alert-danger">{{ error }}</div>
    </div>
    {% else %}
    {% block content %}{% endblock %}
    {% endif %}

    <div id="navbar-toggler">
      <a href="#" class="menu"><i class="flaticon-menu"></i></a>
      <nav>
	<h1 class="text-main text-center">
	  Lama <span class="text-secondary">Urbain</span>
	</h1>

	<ul class="nav">
	{% if not authentified %}
	  <li class="dropdown-header">Welcome</li>
	  <li>
	    <a href="#signup" data-toggle="ajaxmodal">
	      <div class="icon"><i class="flaticon-signup"></i></div>
	      Sign Up
	    </a>
	  </li>
	  <li>
	    <a href="#login" data-toggle="ajaxmodal">
	      <span>Sign In</span>
	      <div class="icon"><i class="flaticon-lock"></i></div>
	    </a>
	  </li>
	  {% else %}
	  <li class="dropdown-header">You</li>
	  <li>
	    <a href="#profile" data-toggle="ajaxmodal">
	      <span>Your profile</span>
	      <div class="icon"><i class="flaticon-defaultavatar"></i></div>
	    </a>
	  </li>
	  <li>
	    <a href="#itineraries" data-toggle="ajaxmodal" data-size="lg">
	      <span>Your favorites</span>
	      <div class="icon"><i class="flaticon-star"></i></div>
	    </a>
	  </li>
	  <li>
	    <a href="#history" data-toggle="ajaxmodal" data-size="lg">
	      <span>Your history</span>
	      <div class="icon"><i class="flaticon-itinerary"></i></div>
	    </a>
	  </li>
	  <li>
	    <a href="#settings" data-toggle="ajaxmodal">
	      <span>Your settings</span>
	      <div class="icon"><i class="flaticon-settings"></i></div>
	    </a>
	  </li>
	  <li>
	    <a href="/logout">
	      <span>Logout</span>
	      <div class="icon"><i class="flaticon-logout"></i></div>
	    </a>
	  </li>
	  {% endif %}
	  <li class="dropdown-header">More</li>
	  <li>
	    <a href="#sponsors" data-toggle="ajaxmodal" data-size="lg">
	      <span>Sponsors</span>
	      <div class="icon"><i class="flaticon-flag"></i></div>
	    </a>
	  </li>
	  <li>
	    <a href="http://eip.epitech.eu/2016/lamaurbain/#contact" target="_blank">
	      <span>Contact</span>
	      <div class="icon"><i class="flaticon-contact"></i></div>
	    </a>
	  </li>
	  <li>
	    <a href="#help" data-toggle="ajaxmodal" data-size="lg">
	      <span>Help</span>
	      <div class="icon"><i class="flaticon-help"></i></div>
	    </a>
	  </li>
	  <li>
	    <a href="#share" data-toggle="ajaxmodal" data-size="sm">
	      <span>Share</span>
	      <div class="icon"><i class="flaticon-share"></i></div>
	    </a>
	  </li>
	</ul>
      </nav>
    </div>

    <footer>
      <a href="#about" data-toggle="ajaxmodal" data-size="lg">About</a> -
      <a href="#terms" data-toggle="ajaxmodal" data-size="lg">Terms of services</a> -
      <a href="#privacy" data-toggle="ajaxmodal" data-size="lg">Privacy Policy</a>
    </footer>

    <div class="modal fade" id="modal">
      <div class="modal-dialog">
	<div class="modal-content">
	</div>
      </div>
    </div>

    <script>
      var apiurl = '{{ apiurl }}';
    </script>
    {% block jsvariables %}{% endblock %}
    <script src="/static/js/ol.js"></script>
    <script src="/static/bower/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
    {% block js %}{% endblock %}

  </body>
</html>
