{% extends 'base.jinja2' %}
{% block js %}
<script src="/static/js/search.js"></script>
{% endblock %}
{% block jsvariables %}
<script>
  {% if itineraryjson %}
  var itinerary = {{ itineraryjson|safe }};
  {% endif %}
</script>
{% endblock %}
{% block content %}
<div id="logo">
  <a href="/">
    <img src="/static/shadow_small.png" alt="Lama Urbain" class="logo">
  </a>
</div>

<div id="searchbox">
  <!-- Template filled in JQuery -->
  <div id="destination-template" class="hidden">
    {% set index=0 %}
    {% include 'include/destination.jinja2' %}
  </div> <!-- template -->
  <form method="POST" id="searchform">
    {% if itinerary %}
    <h2 id="itinerary" data-id="{{ itinerary.id }}"
	class="text-main"><i class="flaticon-itinerary"></i>
      {% if itinerary.name %}
      {{ itinerary.name }}
      {% else %}
      {% if not itinerary.owner or username == itinerary.owner %}
      Your Itinerary
      {% else %}
      An Itinerary
      {% endif %}
      {% endif %}
    </h2>
    {% endif %}
    {% if not itinerary.owner or username == itinerary.owner %}
    <div id="departure" class="row">
      <div class="col-xs-12">
	<input type="text" class="form-control search" placeholder="Departure" name="departure"{% if itinerary %} value="{% set coordinate=itinerary.departure %}{% include 'include/coordinate.jinja2' %}{% set coordinate=None %}"{% elif 'departure' in request.POST %} value="{{ request.POST['departure'] }}"{% endif %}>
      </div>
      <div class="col-xs-2" style="display: none;">
	<a class="btn btn-main edit-destination" href="#editDeparture">
	  <i class="flaticon-cursor"></i>
	</a>
      </div>
    </div>
    <div id="destinations">
      {% if not itinerary or not itinerary.destinations %}
      {% set index=0 %}
      {% include 'include/destination.jinja2' %}
      {% elif itinerary %}
      {% for coordinate in itinerary.destinations %}
      {% set index=loop.index0 %}
      {% include 'include/destination.jinja2' %}
      {% endfor %}
      {% endif %}
    </div>
  </form>
  <div class="text-right">
    <a href="#addDestination" class="btn btn-link"><i class="flaticon-addpin"></i> Add destination</a>
    {% if itinerary %}
    <a href="#more" class="btn btn-link" data-toggle="collapse"><i class="text-main flaticon-more"></i></a>
    {% else %}
    <button name="search" type="submit" class="btn btn-secondary submit"><i class="flaticon-search"></i> Search</button>
    {% endif %}
  </div>
  <form id="more" class="collapse text-right" method="post">
    <br>
    {% if itinerary %}
    {% if itinerary.favorite %}
    <div class="row">
      <div class="col-xs-10">
	{% endif %}
	{% if authentified %}
	<input type="text" class="form-control search" placeholder="Change itinerary name" name="name" value="{% if itinerary.name %}{{ itinerary.name }}{% endif %}">
	{% endif %}
	{% if itinerary.favorite %}
      </div>
      <div class="col-xs-2">
	<button type="submit" class="btn btn-main edit-name">
	  <i class="flaticon-cursor"></i>
	</button>
      </div>
    </div>
    {% endif %}
    {% set url = '/itinerary/' + itinerary.id|string %}
    {% set btntype = 'main' %}
    {% include 'include/shareButtons.jinja2' %}
    {% if authentified %}
    <button type="submit" class="btn btn-sm btn-danger" name="delete"><i class="flaticon-delete"></i> Delete</button>
    {% endif %}
    {% if itinerary.favorite %}
    <button type="submit" name="removefavorite" class="btn btn-danger"><i class="flaticon-star"></i> Un-fav</button>
    {% else %}
    {% if authentified %}
    <button type="submit" name="favorite" class="btn btn-secondary"><i class="flaticon-star"></i> Favorite</button>
    {% endif %}
    {% endif %}
    {% endif %}
    {% else %}
    {% if itinerary.owner %}
    <h3 style="margin-top: -10px" class="text-right text-secondary">by {{ itinerary.owner }}</h3>
    {% endif %}
    <dl>
      {% if itinerary.destinations %}
      <dt class="text-main"><h4>From</h4></dt>
      {% endif %}
      <dd>
	<div class="row">
	  <div class="col-xs-2">
	    <img src="/static/departure.png">
	  </div>
	  <div class="col-xs-10">
	    {% set coordinate=itinerary.departure %}
	    {% include 'include/coordinate.jinja2' %}
	  </div>
	</div>
      </dd>
    </dl>
    {% if itinerary.destinations %}
    <dl>
      <dt class="text-main"><h4>To</h4></dt>
      <dd>
	<div class="row">
	  <div class="col-xs-2">
	    <img src="/static/arrival.png">
	  </div>
	  <div class="col-xs-10">
	    {% if itinerary.destinations|length > 1 %}
	    <ol>
	      {% endif %}
	      {% for destination in itinerary.destinations %}
	      {% if itinerary.destinations|length > 1 %}
	      <li>
		{% endif %}
		{% set coordinate=destination %}
		{% include 'include/coordinate.jinja2' %}
		{% if itinerary.destinations|length > 1 %}
	      </li>
	      {% endif %}
	      {% endfor %}
	      {% if itinerary.destinations|length > 1 %}
	    </ol>
	    {% endif %}
	  </div>
	</div>
      </dd>
    </dl>
    {% endif %}
    <div class="text-right">
      {% set btntype = 'main' %}
      {% set url = '/itinerary/' + itinerary.id|string %}
      {% include 'include/shareButtons.jinja2' %}
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}
