{% extends 'base.jinja2' %}
{% block js %}
<script src="/static/js/search.js"></script>
{% endblock %}
{% block jsvariables %}
<script>
  {% if itineraryjson %}
  var itinerary = {{ itineraryjson|safe }};
  {% endif %}
</script>
{% endblock %}
{% block content %}
    <div id="logo">
      <a href="/">
	<img src="/static/shadow_small.png" alt="Lama Urbain" class="logo">
      </a>
    </div>

    <div id="searchbox">
      <form method="POST">
	{% if itinerary %}
	<h2 class="text-main"><i class="flaticon-itinerary"></i> {{ itinerary.name }}</h2>
	{% endif %}
	<input type="text" class="form-control search" placeholder="Departure" name="point1"{% if itinerary %} value="{{ itinerary.departure.address }}"{% elif 'departure' in request.POST %} value="{{ request.POST['departure'] }}"{% endif %}>
	{% if itinerary %}
	{% for destination in itinerary.destinations %}
	{% if loop.index != itinerary.destinations|length %}
	<div class="destination row">
	  <div class="col-xs-10">
	    <input type="text" class="form-control search" placeholder="Destination" name="point{{ loop.index }}" value="{{ destination }}">
	  </div>
	  <div class="col-xs-2">
	    <a class="btn btn-secondary" href="#deleteDestination">
	      <i class="flaticon-delete"></i>
	    </a>
	  </div>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}
	<div class="destination row">
	  <div class="col-xs-10">
	    <input type="text" class="form-control search" placeholder="Destination" name="arrival"{% if itinerary %} value="{{ last_destination.address }}"{% elif 'arrival' in request.POST %} value="{{ request.POST['arrival'] }}"{% endif %}>
	  </div>
	  <div class="col-xs-2">
	    <a class="btn btn-secondary" href="#deleteDestination">
	      <i class="flaticon-delete"></i>
	    </a>
	  </div>
	</div>
	<div class="text-right">
	  <a href="#addDestination" class="btn btn-link"><i class="flaticon-addpin"></i> Add destination</a>
	  <a href="#more" class="btn btn-link" data-toggle="collapse"><i class="flaticon-more"></i></a>
	  <!-- TODO -->
	  <!-- jquery on click: -->
	  <!-- if save, call ajax form /ajax/save and refresh map -->
	  <!-- if search, just refresh map -->
	  <button type="submit" class="btn btn-secondary submit">{% if itinerary %}<i class="flaticon-star"></i> Save{% else %}<i class="flaticon-search"></i> Search{% endif %}</button>
	</div>
	<div id="more" class="collapse text-right">
	  <br>
	  {% if itinerary %}
	  {% set url = '/itinerary/' + itinerary.id|string %}
	  {% set btntype = 'main' %}
	  {% include 'include/shareButtons.jinja2' %}
	  <button type="submit" class="btn btn-danger" name="delete"><i class="flaticon-delete"></i> Delete</button>
	  {% else %}
	  <input type="text" class="form-control search" placeholder="Itinerary name" name="name">
	  <button type="submit" class="btn btn-main" name="save"><i class="flaticon-star"></i> Save this itinerary</button>
	  {% endif %}
	</div>
      </form>
    </div>
{% endblock %}
