@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-contact:before {
	content: "\e000";
}
.flaticon-signup:before {
	content: "\e001";
}
.flaticon-delete:before {
	content: "\e002";
}
.flaticon-itinerary:before {
	content: "\e003";
}
.flaticon-facebook:before {
	content: "\e004";
}
.flaticon-flag:before {
	content: "\e005";
}
.flaticon-bus:before {
	content: "\e006";
}
.flaticon-help:before {
	content: "\e007";
}
.flaticon-addpin:before {
	content: "\e008";
}
.flaticon-leftarrow:before {
	content: "\e009";
}
.flaticon-mappin:before {
	content: "\e00a";
}
.flaticon-lock:before {
	content: "\e00b";
}
.flaticon-logout:before {
	content: "\e00c";
}
.flaticon-menu:before {
	content: "\e00d";
}
.flaticon-more:before {
	content: "\e00e";
}
.flaticon-pin:before {
	content: "\e00f";
}
.flaticon-mappin2:before {
	content: "\e010";
}
.flaticon-cursor:before {
	content: "\e011";
}
.flaticon-bicycle:before {
	content: "\e012";
}
.flaticon-search:before {
	content: "\e013";
}
.flaticon-share:before {
	content: "\e014";
}
.flaticon-star:before {
	content: "\e015";
}
.flaticon-subway:before {
	content: "\e016";
}
.flaticon-settings:before {
	content: "\e017";
}
.flaticon-tram:before {
	content: "\e018";
}
.flaticon-twitter:before {
	content: "\e019";
}
.flaticon-defaultavatar:before {
	content: "\e01a";
}
.flaticon-walk:before {
	content: "\e01b";
}
