{% extends 'base.jinja2' %}
{% block title %}
<i class="flaticon-help"></i>
Help{% endblock %}
{% block body %}
<div class="row text-center">
  <div class="col-lg-6">
    <a href="https://drive.google.com/file/d/0Bw8n0yHMUHF-Z2FzbTMzTnh1VTBKQXAtMnBzVElaN0hYb0tj/view?usp=sharing" target="_blank" class="btn btn-main btn-lg">
      Read the documentation
    </a>
  </div>
  <div class="col-lg-6">
    <a href="http://eip.epitech.eu/2016/lamaurbain/#contact" target="_blank" class="btn btn-secondary btn-lg">
      Contact the support
    </a>
  </div>
</div>
{% endblock %}
