{% extends 'base.jinja2' %}
{% block title %}
<i class="flaticon-signup"></i>
Sign up{% endblock %}
{% block body %}
<form class="form-horizontal" method="POST" action="/ajax/form/signup">
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password"><br>
      <input type="password" class="form-control" id="inputPassword2" placeholder="Check Password">
    </div>
  </div>
  <div class="form-group text-right">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-main">Sign up</button>
    </div>
  </div>
</form>
{% endblock %}
{% block footer %}{% endblock %}
